<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project2">
	
	<select id="login" parameterType="map" resultType="accountVO">
		SELECT * FROM ACCOUNT 
		WHERE 
    	ID = #{id} AND PWD = #{password}
		ORDER BY NO
	</select>
	
	<select id="all" resultType="accountVO">
		SELECT * FROM ACCOUNT ORDER BY NO
	</select>
	
	<select id="id" parameterType="string" resultType="string">
		SELECT ID FROM ACCOUNT 
		WHERE ID = #{id}
		ORDER BY NAME
	</select>
	
	<select id="searchIdByEmail" parameterType="string" resultType="accountVO">
		SELECT ID FROM ACCOUNT 
		WHERE EMAIL = #{email}
		ORDER BY NAME
	</select>
	
	<select id="searchPwdById" parameterType="string" resultType="accountVO">
		
	</select>
	
</mapper>














